-count=0
-skip = params[:skip].to_i
%div(data-role="page")
  %div(data-role="header")
    %h1
      Collection:
      &=@database.name+" / #{@collection.name}"
    %div{:"data-role" => "navbar"}
      %div{:"data-role" => "controlgroup", :"data-type" => "horizontal"}
        %form(action="/database/#{@database.name}/#{@collection.name}/delete" method="post" style="display: inline")
          %input(type="submit" data-role="button" value="Drop Collection" data-theme="a")


  %div(data-role="content")
    -if skip == 0
      %h1
        Info
      -normalize_stats(@collection.stats).each do |k,v|
        %b
          &="#{k}="
        &=v
        %br
    %h1
      Documents
    -document_list(@collection).each do |document|
      -count+=1
      %div(data-role="collapsible" data-collapsed=true)
        %h1
          &= document["_id"] +" "+ (document["name"] || document["title"] || document["description"] || document["message"] || "")
        -document.each do |k,v|
          %b
            &="#{k}="
          &= v
          %br

  %div(data-role="footer")
    -if skip > 0
      %a(href="/database/#{@database.name}/#{@collection.name}?skip=#{params[:skip].to_i-25}")
        Previous
    -if count >= 25
      %a(href="/database/#{@database.name}/#{@collection.name}?skip=#{params[:skip].to_i+25}")
        Next
